.card {
  text-decoration: none;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 0.7rem;
  padding: 1rem 1.2rem;
  width: 100%;
  transform-origin: 50% 100%;
  position: relative;
  transition: box-shadow 0.2s linear, transform 0.2s ease-in-out;

  z-index: calc(var(--level, 0) * 10 + 1);

  box-shadow: 0px -6px 10.5px rgba(0, 0, 0, 0.16),
    0px -6.7px 15.3px rgba(0, 0, 0, 0.095), 0px -15px 30px rgba(0, 0, 0, 0.065),
    inset -0.7px 0.7px 1px rgba(255, 255, 255, 0.5),
    inset 0.7px -0.7px 1px rgba(0, 0, 0, 0.3);
}
.card::before {
  content: '';
  border-radius: inherit;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(
    -155deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(0, 0, 0, 0.25) 100%
  );
  transition: background 0.2s linear;
}

.card__compact {
}
.cards .card.card__compact:hover,
.cards .card.card__compact:focus-within {
  transform: scale(1.03);
}

.card:has(+ .card) {
  padding-bottom: 2.5rem;
  margin-bottom: -1.8rem;
}
.card_header {
  font-size: 1.5rem;
  font-weight: 500;
}
.card_header a {
  text-decoration: none;
  color: inherit;
}
.card_header a::before {
  content: '';
  position: absolute;
  inset: 0;
}
.card_number {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.card_code {
  background: #fff;
  color: #000;
  border-radius: 0.6rem;
  padding: 1rem 1rem;
  margin: 0.8rem 0;
  aspect-ratio: 10 / 4;
  text-align: center;
}

#card .card {
  width: min(95vw, 40rem);
}
