.layer {
  --level: 0;
  position: fixed;
  inset: 0;
  display: flex;
  place-items: center;
  place-content: center;
  z-index: calc(var(--level) * 10);
  backdrop-filter: blur(calc(var(--level) * 1px));
  background: rgba(0, 0, 0, calc(var(--level) * 0.2));
}
.layer:empty {
  display: none;
}
.layer__1 {
  --level: 1;
}
.layer__2 {
  --level: 2;
}
