:root {
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans',
    source-sans-pro, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --point-x: 0;
  --point-y: 0;
  --angle: 135deg;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
  font-weight: normal;
}

body {
  color: rgba(255, 255, 255, 0.87);
  background-color: #212121;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.cardCode_svg {
  margin: 0 0 0.5vmin;
}
.cardCode_svg svg {
  aspect-ratio: 10 / 4;
  height: 100%;
  max-width: 100%;
  display: block;
}
